.count-up {
	border-top: 4px solid $color-red;

	span.link-text {
		font-size: 18px;
	}
}

.count-up__number {
	font-size: 80px;
	font-weight: 700;

	@include md-min {
		font-size: 120px;
	}
}

.count-up__text {
	font-size: 16px;
	margin-bottom: 20px;

	@include md-min {
		font-size: 22px;
	}
}
