.images__inner {
	display: flex;
	gap: 15px;
	justify-content: space-between;
}

.image {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.image_1 {
	background-image: url(../assets/images/images/image1.jpeg);
	width: 50%;
	height: 600px;
}
.image_2 {
	background-image: url(../assets/images/images/image2.jpeg);
	width: 25%;
	height: 300px;
}
.image_3 {
	background-image: url(../assets/images/images/image3.jpeg);
	width: 25%;
	height: 300px;
}

.big-image {
	height: 100vh; /* Wysokość tła */
	width: 100vw; /* Szerokość tła */
	background-size: cover; /* Dostosowanie obrazu do rozmiaru kontenera */
	background-position: center; /* Wyśrodkowanie obrazu */
	background-attachment: fixed; /* Ustawienie tła na stałe */
}

.images {
	position: relative; /* Ensure images are positioned correctly */
}

.image {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	transform: scale(0.8); /* Start slightly smaller */
	transition: transform 0.4s ease-out; /* Animation for scaling */
}

.image--visible {
	transform: scale(1); /* Scale to original size */
}

