.menu__logo {
	display: block;
	margin: 0 auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(../assets/images/logo/logo.png);
	width: 130px;
	height: 60px;
	background-position: center;

	@include md-max {
		background-position: left;
		height: 40px;
		background-size: contain;
	}
}
