.menu {
	position: fixed;
	top: 0;
	z-index: 111;
	border-bottom: 1px solid $color-white;
	width: 100%;
	padding: 10px 0;
	transition: background-color 0.3s ease, color 0.3s ease;

	&.scrolled {
		background-color: #f1f1f1;
		opacity: 0.8;
		border-color: rgba(0, 0, 0, 0.1);

		.menu__link {
			color: black;
		}

		.hamburger-react {
			color: black;
		}
	}
}

.menu__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include content-width();
	padding: 0;
}

.menu__logo {
	transition: width 0.1s ease, height 0.1s ease;

	&--large {
		width: 150px;
		height: 70px;
	}

	&--small {
		width: 100px;
		height: 50px;
	}
}

.menu__list {
	position: absolute;
	top: 0;
	padding-top: 100px !important;
	bottom: 0;
	height: 100vh;
	left: 0;
	width: 100%;
	background-color: white;
	list-style: none;
	margin: 0;
	padding: 0;
	opacity: 0;
	transform: translateY(-10px);
	visibility: hidden;
	transition: opacity 0.3s ease, transform 0.3s ease;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu__list.open {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}

.menu__li {
	padding: 15px 20px;
	text-align: center;
}

.menu__link {
	cursor: pointer;
	text-decoration: none;
	font-size: 16px;
	display: block;
	letter-spacing: 1px;
	color: $color-white;
	transition: color 0.3s ease;

	.open & {
		color: black;
	}
}

.menu__hamburger {
	cursor: pointer;
}

.menu__link--contact {
	padding: 10px;
	text-transform: uppercase;
}

.hamburger-react {
	color: $color-white;
	z-index: 111 !important;

	.open & {
		color: black;
	}
}
