.reviews-slider {
	position: relative;
	width: 100%;
	overflow: hidden;

	@include lg-min {
		max-width: 1200px;
	}
}

.review-title {
	margin: 0 auto;

	h1 {
		text-align: center;
	}
}

.review-icon {
	margin: 0 auto;
	font-size: 50px;
	color: $color-red;
	text-align: center;
	display: block;
}

.review__inner {
	display: flex;
	justify-content: center;
	transition: transform 0.5s ease;
	background-color: #f6f6f6;
	padding-top: 20px;
	padding-bottom: 20px;
}

.review {
	width: 100%;
	box-sizing: border-box;
	padding: 20px;
	margin: 0 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.review__text {
	font-size: 12px;
	text-align: center;
	padding: 8px 0;
}

.review__name {
	font-weight: bold;
	font-size: 10px;
	color: #555;
	text-transform: uppercase;
}

.slider__controls {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.slider__button {
	border: none;
	color: $color-main;
	background-color: transparent;
	font-size: 1.5rem;
	cursor: pointer;
	padding: 10px 20px;
	margin: 0 10px;
}

.review-image {
	width: 70px;
	height: 70px;
	margin: 0 auto;
	border-radius: 50%;
	object-fit: cover;
}
