@import './mixins';
@import './variables';

.section {
	@include content-width();

	@include md-min {
		display: flex;
		margin: 0 auto;
		justify-content: space-between;
		margin-top: 100px;
		gap: 30px;
	}
}

.section-col__left {
	width: 25%;
}

.section-col__right {
	width: 75%;
}
