@import './mixins';
@import './variables';

.section {
	@include md-min {
		max-width: $max-width;
		display: flex;
		margin: 0 auto;
		justify-content: space-between;
		margin-top: 100px;
	}
}

.section-col__left {
	width: 15%;
}

.section-col__right {
	width: 80%;
}
