.services {
	@include content-width;
	margin: 0 auto;
}

.service__inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: nowrap;
	gap: 20px;

	@include md-min {
		flex-direction: row;
		gap: 10px;
	}
}

.service__item--wrapper {
	cursor: pointer;
	width: 100%;
	overflow: hidden;
	border: none;
	padding: 0;

	@include md-min {
		width: calc(50% - 10px);
	}
}

.service__item {
	position: relative;
	overflow: hidden;
	font-family: 'Montserrat', sans-serif;
	aspect-ratio: 1/1;
	transition: transform 0.3s ease;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	@include md-max {
		aspect-ratio: 4/3;
	}
}

.service__item-1 {
	background-image: url(../assets/images/services/service-1.jpg);
}

.service__item-2 {
	background-image: url(../assets/images/services/service-2.jpg);
}

.service__item-3 {
	background-image: url(../assets/images/services/service-3.png);
}

.service__item-5 {
	background-image: url(../assets/images/services/service-5.jpg);
}
.service__item-4 {
	background-image: url(../assets/images/services/service-4.jpg);
}

.service__item:hover {
	transform: scale(1.1);
}

.service__item::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #353333;
	opacity: 0.6;
	transition: opacity 0.3s ease;
	pointer-events: none;
}

.service__item:hover::before {
	opacity: 0.4;
}

.service__title {
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 20px;
	text-transform: uppercase;
	z-index: 11;
	color: $color-white;
	font-weight: 400;

	@include md-min {
		font-size: 18px;
	}
}

.services-details {
	@include content-width();
	margin: 0 auto;
}

.service-detail__title {
	text-align: left;
	text-transform: uppercase;
	font-weight: 400;
	padding: 30px 0;
	font-size: 22px;
	letter-spacing: 1px;

	@include md-max {
		padding-left: 0;
		font-size: 16px;
		text-align: left;
	}
}

.sub-list__columns {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 50px;
	padding-bottom: 30px;

	@include md-min {
		flex-direction: row;
	}
}

.fade-out {
	opacity: 0;
	transition: opacity 0.5s ease-out;
}

.service-detail__1 {
	.service-detail__title {
		padding-top: 0;
	}
}

.service-detail {
	scroll-margin-top: 16vh;
}

.service-details__item-list {
	background-color: $color-red;
	color: $color-white;
}

.add-svg {
	position: relative;
}

.service-details__item {
	width: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 20px 10px;

	@include md-min {
		width: 50%;
		padding: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.service-details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-items: stretch;
	@include content-width();
	margin: 0 auto;
	overflow: hidden;
	overflow-x: clip;

	@include md-min {
		flex-direction: row;
		justify-content: space-between;
		&.revert {
			flex-direction: row-reverse;
		}
	}
}

.service-details__item-title {
	aspect-ratio: 3/4;
	max-height: 300px;
	width: 100%;
	transition: transform 0.5s ease;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

	@include md-min {
		width: 50%;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #353333;
		opacity: 0.6;
		transition: opacity 0.3s ease;
		pointer-events: none;
	}
}

.service-details__title {
	text-align: center;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 25px;
	color: $color-white;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 11;

	@include md-min {
		font-size: 30px;
	}
}
