.service-image {
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-size: cover;
}

.service-image-1 {
	background-image: url(../assets/images/services/service-1.png);
}

.service-image-2 {
	background-image: url(../assets/images/services/service-2.png);
}

.service-image-3 {
	background-image: url(../assets/images/services/service-3.png);
}

.services__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 800px;
	margin: 0 auto;
	padding: 50px;
}

.service {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.service-image {
	display: flex;
	margin: 30px 0;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
}

.service-text {
	text-align: center;
	letter-spacing: 1px;
	font-size: 20px;
	font-weight: 500;
}
