.slider {
	overflow: hidden;
	width: 100vw;
	position: relative;
}

.slider__inner {
	display: flex;
	width: calc(295px * 17 * 2);
}

.slider__item {
	width: 295px;
	flex-shrink: 0;
	margin: 0 40px;
	max-height: 340px;
}

.slider__item img {
	width: 100%;
	height: auto;
	object-fit: cover;
}
