.twoimages__img {
	background-repeat: no-repeat;
	background-size: cover;
}

.twoimages__inner {
	display: flex;
	gap: 10px;
	@include content-width();
}

.twoimages__img {
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
	width: 50%;
}
.twoimages__img-1 {
	background-image: url(../assets/images/images/image-9.jpg);
}

.twoimages__img-2 {
	background-image: url(../assets/images/images/image-11.jpg);
}

.twoimages {
	position: relative; /* Ensure images are positioned correctly */
}

.twoimages__img {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	transform: scale(0.8); /* Start slightly smaller */
	transition: transform 0.4s ease-out; /* Animation for scaling */
}

.twoimages__img--visible {
	transform: scale(1); /* Scale to original size when visible */
}

/* Optional: Additional styles for twoimages__inner or container */
