.welcome {
	text-align: center;
	font-size: 22px;
	text-align: left;

	@include md-max {
		font-size: 16px;
	}

	@include md-min {
		@include content-width();
	}
}

.welcome-list {
	padding: 20px 0;

	@include md-min {
		padding: 30px 0;
	}
}

.welcome-title {
	font-weight: 400;
	@include content-width();
	margin: 0 auto;
	font-size: 30px;
	margin-bottom: 3px;

	@include md-min {
		font-size: 60px;
		margin-top: 70px;
	}
}

.welcome-subtitle {
	font-size: 18px;

	@include md-min {
		font-size: 25px;
		margin-top: 0;
	}
}
